.container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    border-radius: 9999px;
    font-size: 20px;
    height: 50px;
    min-width: 50px;
    cursor: pointer;
    transition: all 0.1s;
    margin-bottom: 5px;
}
.container:hover {
    background-color: var(--backgroundButtonHover);
}
.icon {
    display: flex;
    align-items: center;
}
.container span {
    margin-left: 16px;
    margin-right: 16px;
}
@media (max-width: 1300px) {
    .container span {
        display: none;
    }
    .container {
        justify-content: center;
    }
}