.container{
    position: sticky;
    top: 0;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    min-width: 250px;
    height: 100vh;
    flex-shrink: 0;
}
.logo {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
}
.logo:hover {
    background-color: var(--backgroundLogoHover);
}
.tweetButton {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    min-height: 52px;
    min-width: 52px;
    width: 90%;
    color: var(--fontContrast);
    background-color: var(--accentBlue);
    border-radius: 9999px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 32px;
    padding-right: 32px;
    cursor: pointer;
    transition: all 0.2s;
}
.tweetButton:hover{
    background-color: var(--accentBlueHover);
}
.tweetButtonMobile {
    display: none;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    color: var(--fontContrast);
    font-size: 24px;
    width: 52px;
    height: 52px;
    padding: 8px;
    border-radius: 9999px;
    background-color: var(--accentBlue);
    cursor: pointer;
    transition: all 0.2s;
}
.tweetButtonMobile:hover{
    background-color: var(--accentBlueHover);
}
.sidebar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebarInner {
    width: 100%;
}
/* profile */
.content {
    display: flex;
    flex-direction: row;
}
.profile, .profileMobile {
    margin: 12px 0;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 9999px;
    cursor: pointer;
}
.profileMobile {
    display: none;
}
.profile:hover{
    background-color: var(--backgroundButtonHover);
}
.profileText{
    display: flex;
    flex-direction: column;
    margin: 0 12px;
}
.content h3, .content p {
    padding: 0;
    margin: 0;
    font-size: 15px;
    
}
.profilePicture {
    position: relative;
    border-radius: 9999px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}


@media (max-width: 1300px) {
    .container {
        min-width: 60px;
    }
    .container {
        align-items: center;
    }
    .tweetButton, .profile {
        display: none;
    }
    .tweetButtonMobile, .profileMobile {
        display: flex;
    }
}
